html {
  font-family: helvetica, sans-serif;
}

#mainheader {
  font-size: 70px;
}

#mainheader, #process, .titles, #ny {
  font-weight: bold;
}

.nav {
  font-size: 18px;
  list-style: none;
  line-height: 0.8em;
}

.mainhead {
  color: white;
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
}

.flatironalign, .about, #ny {
  text-align: center;
}

.links {
  text-decoration: none;
  color: white;
}

#process {
  font-size: 32px;
}

.titles {
  font-size: 23px;
}

p {
  font-size: 14px;
}

#ny {
  color: white;
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
}


#copyright {
  font-size: 11px;
}

.footlink {
  font-size: 18px;
}

.footlink, #copyright, li {
  color: white;
  background-color: dimgray;
  background-size: 2000px;
  text-align: left;
  display: inline-block;
  text-decoration: none;
}
